<div class="login-card">
  <h3 class="login-title">Secure Your Account</h3>
  <p class="login-sub">You must change your default password before proceeding.</p>

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3 text-start">
      <label class="form-label">New Password</label>
      <input type="password" class="form-control" name="new_password" required>
    </div>

    <div class="mb-3 text-start">
      <label class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" name="confirm_password" required>
    </div>

    <button type="submit" class="btn btn-login">Update Password & Login</button>
  </form>
</div>